{% extends 'core/base_nav.html' %}
{% block login_active %}active{% endblock %}


{% block body %}

{% if user.is_authenticated %}
    {% include 'core/user_home.html' %}
    
{% else %}
<style>
.carousel{
    background: #2f4357;
    margin-top: 5.5%;
}
.carousel-item{
    text-align: center;
    min-height: 480px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example{
	margin: 15px;
}
{% comment %} #cimg{
    min-height: 480px;
} {% endcomment %}
</style>
</head>
<body>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            {% comment %} <li data-target="#myCarousel" data-slide-to="2"></li> {% endcomment %}
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/core/images/winter.jpg" id="cimg" alt="First Slide">
            </div>
            <div class="carousel-item">
                <img src="/static/core/images/slide.jpg" id="cimg" alt="Second Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>


<div class="bs-example">    
    <div class="jumbotron">
        <h1>Welcome to Friends-The Social Network</h1>
        <p class="lead">In today's world internet is the most popular way of connecting with the people. At <a href="/" >Friends.com</a> you can connect with the people around the world.</p>
        <p><a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Join Us Today</a></p>
    </div>
</div>



{% endif %}
{% include 'core/base_footer.html' %}
{% endblock %}

