<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Friends{% endblock %}</title>
{% load staticfiles %}
<head>
    <link rel="shortcut icon" type="image/png" href="/static/logo.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }

        .inset img {
            border-radius: 30px;
            border-style:solid;
            border-color:white;
            width: 40px;
            height: 40px;
            display: block;
            position: relative;
            z-index: 998;
        }
        #margin-top{
            margin-top: 5.8%;
        }
        #logo{
            border-radius:30px;
            height:30px;
            width:30px;
        }

    </style>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        
        <img class="mr-2" id="logo" src="/static/logo.png" style="display: inline-block;">
        <span style="display: inline-block;"><a href="/" class="navbar-brand">Friends</a></span>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="btn btn-light mr-sm-2" href="#" class="nav-item nav-link">Welcome, {{user.username}}</a>
                <form action="/profile/" class="form-inline">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search" value="{{ request.GET.si }}" type="text" name ="si" />
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </form>
            </div>
            <form class="form-inline ml-auto">
                <a class="btn btn-light mr-sm-2" href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                {% comment %} <li>
                <div class="inset mr-sm-2">
                  <a><img src=""></a>
                </div>
              </li> {% endcomment %}
              <a class="btn btn-light mr-sm-2" href="/profile/edit/{{ user.profile.id }}" class="nav-item nav-link">Edit Profile</a>
              <a class="btn btn-light mr-sm-2" href="{% url 'post' %}" class="nav-item nav-link">Posts</a>
              <a class="btn btn-light mr-sm-2" href="{% url 'profile' %}" class="nav-item nav-link">Profiles</a>
              <a class="btn btn-light mr-sm-2" href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
            </form>
        </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </div>
            <form class="form-inline ml-auto">
                <a class="btn btn-light mr-sm-2" href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a class="btn btn-light mr-sm-2" href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                <a class="btn btn-light mr-sm-2" href="{% url 'signup' %}" class="nav-item nav-link">SignUp</a>
            </form>
        </div>
        {% endif %}
    </nav>
</div>
<div id="margin-top">

{% block body %}
{% endblock %}
</div>
</body>
</html>
