{% extends 'core/base_nav.html' %}
{% block login_active %}active{% endblock %}

{% load crispy_forms_tags %}



{% block body %}

   <div class="container p-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Comment</h1>
          <hr class="mt-0 mb-4">
            <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                <button type="submit" class="btn btn-success">Comment</button>
            </form>
        </div>
      </div>
</div>
  
<script>
$(document).ready(function(){
    $("textarea").attr({"rows": "3","cols": "15"
    });
});
</script>
{% include 'core/base_footer.html' %}
{% endblock %}