{% extends 'core/base_nav.html' %}
{% block login_active %}active{% endblock %}


{% block body %}
<div class="p-5">
<h1> My Posts</h1> <a href="{% url 'core:createpost' %}" ><button type="button" class="btn btn-dark">Create Post&nbsp;&nbsp;<span class="fa fa-pencil"></span></button></a>
<hr>

<table class="table my-3 table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Subject</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    {% for n1 in post_list %}
    <tr>
            <td scope="row">{{n1.subject}}</td>
            <td>{{n1.cr_date | date:"d/m/y"}}</td>
            <td><a class="btn btn-dark btn-sm" href="/post/{{n1.id}}">Detail</a> 
            <a class="btn btn-danger btn-sm fa fa-trash" href="/post/delete/{{n1.id}}"></a></td>
        </tr>

    {% endfor %}
    </table>
</div>  

{% include 'core/base_footer.html' %}
{% endblock %}