{% extends 'core/base_nav.html' %}
{% block login_active %}active{% endblock %}


{% block body %}
<style>
#profile_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;



}
</style>
<div class="p-5">
<div class="row">
    <div class="col-sm-6">
        <h1> {{ profile.name }}</h1> 
    </div>
    <div class="col-sm-6">
        <a href="/profile/" class="btn btn-dark" style="float: right;">Back</a> 
    </div>
</div>
<hr>
    <div class="row">
        <div class="col-sm-6">
        <table class="table table-borderless table-hover table-striped">
           
            <tr>
                <td><strong>Gender</strong></td>
                <td> {{profile.gender}}</td>
            </tr>
            
            <tr>
                <td><strong>Status</strong></td>
                <td> {{ profile.status }}</td>
            </tr>

            <tr>
                <td><strong>Age</strong></td>
                <td> {{profile.age}}</td>
            </tr>

            <tr>
                <td><strong>Phone No</strong></td>
                <td> {{profile.phone_no}}</td>
            </tr>

            <tr>
                <td><strong>Description</strong></td>
                <td> {{profile.description}}</td>
            </tr>

            <tr>
                <td><strong>Address</strong></td>
                <td> {{profile.address}}</td>
            </tr>
        </table>    
        </div>
        <div class="col-sm-6">
            <img id="profile_pic" class="img-fluid" src="/media/{{profile.pic}}" />
        </div>
    </div>

</div>  
{% comment %} <script>
$(document).ready(function(){
    $("table.tr.td").attr({"class": "text-capitalize"
});

</script> {% endcomment %}

{% include 'core/base_footer.html' %}
{% endblock %}