
<style>
#like{
    height:38px;
    width:40px
}
#liked{
    height:38px;
    width:65px
}
#like_count{
    height:38px;
    width:40px

}

</style>
{% if posts %}

{% for post in posts %}

<div class="container">
  <div class="row justify-content-md-center">
    
    <div class="col-sm-auto">
        <div class="card" style="width: 25rem;margin:10px;">
            <div class="card-body" id="head">
                <h5 class="card-title">{{post.upload_by}}<span style="float: right;">{{post.cr_date | date:"d/m/y"}}</span></h5>
            </div>
            
            <img class="card-img-top" src="{{post.pic.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{post.subject}}</h5>
                <p class="card-text">{{post.msg}}</p>
            </div>
            
            <div class="card-body">
                <a id="like_count" href="" class="btn btn-primary mr-2">{{post.count}}</a>
                {% if post in post_likes %}
                    <a id="liked" href="/post/dislike/{{post.id}}" class="btn btn-primary mr-2">Liked</i></a>
                {% else %}
                    <a id="like" href="/post/like/{{post.id}}" class="btn btn-primary mr-2"><i class="fa fa-thumbs-up 4x"></i></a>
                {% endif %}
                
                <a href="/post/comment/{{post.id}}" class="btn btn-primary mr-2">Comment</a>
                <a href="#" class="btn btn-primary mr-1">Detail</a>
                <a href="#" class="btn btn-primary"><i class="fa fa-flag"></i></a>
            </div>
    </div> 
    
  </div>
</div>

{% endfor %}

{% else %}

<div class="container">
  <div class="row justify-content-md-center">
        <div class="col-sm-auto jumbotron">
            <h2>No Post to Show, You Don't Follow Anyone!!</h2>
        </div>
    </div>
</div>

{% endif %}